* {
    margin: 0;
}

h1 {
    color: rgb(79, 70, 229);
    margin: 15px;
    padding-top: 15px;
    font-family: sans-serif;
}

h2 {
    color: rgb(99, 102, 241);
    margin: 20px;
    font-family: sans-serif;
}

h3 {
    padding-left: 20px;
    font-family: sans-serif;
}

div {
    background-color: rgb(243, 244, 246);
}

a {
    color: rgb(31, 41, 55);
    font-family: sans-serif;
    padding-left: 30px;
}

.dovednosti {
    display: flex;
    justify-content: space-between;
}